.main-container {
    display: grid;
    grid-template-areas: 'a b';
}

.container-calendar {
    height: 100%;
    width: 100%;
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container-header button {
    width: 5rem;
    height: 5rem;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    border: 0;
    margin-left: 5rem;
}

.calendar-container {
    height: 100%;
    width: 100%;
    margin-top: 10rem;
    margin-right: 5rem;
}

.calendar-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-button button {
    margin-left: 20rem;
}