.calendar-container {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 80%;
    column-gap: 5rem;
    padding: 5rem;
}

.calendar-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-button button {
    margin-left: 20rem;
}